@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* base styles */
* {
  font-family: "Bebas Neue";
  text-decoration: none;
}


:root {
  --primary-white: purple;
}

/*SignUp*/

.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}


/*** Menu Links ********************************/

nav a.nav-link {
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
  padding: 1px;
}

nav ul li {
  text-transform: uppercase;
}

nav ul li a:hover {
  margin-right: 0.75rem;
  color: #0f0e0e !important;
}

.nav-item {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  font-weight: lighter;
  font-size: 2rem;
}

.navbar-nav h1 {
  max-width: 17.25rem;
  padding: 0 !important;
  margin-left: 9rem !important;
}


th {
  font-size: 2em;
}

td {
  font-size: 1.5em;
}

.logoImg{
  width: 2.5rem;
}

.nav-brand{
  text-align: end;
}


/*** Home Links ********************************/

.main-info {
  position: relative;
  background-image: url(C:\Users\me\Desktop\projects\race-of-the-year\client\src\components\Nav\marathon.png) no-repeat;
  background-size: cover;
  background-position: center;
}
