@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* base styles */
* {
  margin: 0;
  /* font-family: "Bebas Neue"; */
  color: #000000;
  background-color: #ffffff;
}

/***NavBar***/
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  max-width: 1000rem;
  margin: 0 auto;
}

/*---Menu link---*/
.navbar ul {
  margin-right: auto;
  text-decoration: none;
  font-size: 28px;
}

nav a.nav-link {
  text-transform: uppercase;
  color: rgb(0, 0, 0);

}

.navbar-nav>li>a:hover {
  margin-right: 0.75rem;
  color: #000000;
}

.navbar-brand>h1 {
  color: #000000;

}

.navbar h1 {
  color: rgb(0, 0, 0);
}

.link {
  color: rgb(0, 0, 0);
}

th {
  font-size:2em;
}

td {
  font-size:1.5em;
}

/****Home ***/
.container video {
  height: 300vh;
  max-height: 1600px;
  overflow: hidden;
  position: fixed;
  background-position: 50%;
  background-size: cover;
  margin: 0;  
  padding: 0;
  border: 0;
  display: flex;
  align-self: center;
  min-width: 1300px;
  left: 2;
  right: 2;
}

.container h1 {
  color: rgb(0, 0, 0);
}

.container p {
  color: rgb(0, 0, 0);
  text-align: center;
  /* font-size: 1.5rem; */
}

/***Runners ***/

.col-12 h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.table-list {
  color: rgb(0, 0, 0);
}