@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Bebas Neue";
  color: rgb(17, 15, 15);
}

/***NavBar***/
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  max-width: 1000rem;
  margin: 0 auto;
}

/*---Menu link---*/
.navbar ul {
  margin-right: auto;
  text-decoration: none;
}

nav a.nav-link {
  text-transform: uppercase;
}

.navbar-nav>li>a:hover {
  margin-right: 0.75rem;
  color: #f1356d !important;
}

.navbar-brand {
  color: #f1356d !important;

}

.navbar h1 {
  color:royalblue
}



