@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Bebas Neue";
  color: #5d5c61;
  background-color: #557a95;
}

/***NavBar***/
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  max-width: 1000rem;
  margin: 0 auto;
}

/*---Menu link---*/
.navbar ul {
  margin-right: auto;
  text-decoration: none;
  font-size: 28px;
}

nav a.nav-link {
  text-transform: uppercase;
  color: white;

}

.navbar-nav>li>a:hover {
  margin-right: 0.75rem;
  color: #7395AE !important;
}

.navbar-brand>h1 {
  color: #7395ae !important;

}

.navbar h1 {
  color: white;
}

.link {
  color: white;
}


/****Home ***/
.container video {
  height: 100vh;
  max-height: 1600px;
  overflow:hidden;
  position: absolute;
  background-position: 50%;
  background-size: cover;
  margin: 0;  
  padding: 0;
  border: 0;
  display: flex;
  align-self: center;
  min-width: 1300px;
  left: 2;
  right: 2;
}

.container h1 {
  color: white;
}

.container p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/***Runners ***/

.col-12 h1 {
  color: white;
  text-align: center;
}

.table-list {
  color: white;
}
/** Timer **/

.Timer {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  margin: a;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #051817, #0e3839);
  height: 180px;
  width: 360px;
  color: #06f1f6;
  text-shadow: 1px 1px 7px;
  border-radius: 15px;
  border: 2px solid silver;
  box-shadow: 0 0 5px 25px;
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clock section p {
  font-size: 4rem;
}
.clock section small {
  color: silver;
  text-shadow: none;
}