.login-body {
    margin: auto;
    text-align: center;
    padding-top: 10%;
    padding-left: 30vw;
}

.signup-body {
    margin: auto;
    text-align: center;
    padding-top: 10%;
    width: 35%;

}

@media screen and (max-width: 575px) {
    .login-body {
    font-size: 20px;
    padding-right: 30vw;
    padding-left: 30vw;
    text-align: center;

    }
}

.btn {
    margin-top: 5%;
}