/** Timer **/

.Timer {
  text-align: center;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.clock {
  position: relative;
  margin: auto;
  margin-left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(230deg, #FFFFFF, #F6F9F6);
  height: 200px;
  width: 460px;
  color: #525451;
  text-shadow: 0px 0px 0px;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 0px 5px;
}
.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clock section p {
  font-size: 4rem;
}
.clock section small {
  color: silver;
  text-shadow: none;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 575px) {
  .clock {
  position: center;
  margin: a;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(230deg, #FFFFFF, #FFFFFF);
  height: 50%;
  width: 90%;
  color: #000000;
  text-shadow: 0px 0px 0px;
  border-radius: 15px;
  border: 2px solid silver;
  box-shadow: 0 0 0px 5px;
  }
  .clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .clock section p {
    font-size: 2rem;
  }
  .clock section small {
    color: silver;
    text-shadow: none;
    color: rgb(0, 0, 0);
  }
}
